p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid red;
}
:root {
  --first-color: #2196f3;
  --second-color: #212121;
  --third-color: #757575;
}

.list {
  list-style: none;
}
/*---------------HEADER---------------*/
.header {
}

.navigation-box {
  display: flex;
}

.navigation {
  display: flex;
  align-items: center;
}

.web-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.web-half {
  color: var(--first-color);
}

.navigation-list {
  display: flex;
  align-content: space-around;
  margin-left: 100px;
  margin-right: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
  column-gap: 50px;
}

.navigation-list a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
}

.top-contacts {
  display: flex;
  align-content: space-around;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 100px;
  margin-right: 50px;
  column-gap: 50px;
}

.top-contacts a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.header a:hover,
.header a:focus {
  color: var(--first-color);
}
/*---------------HERO---------------*/

.main-box {
  background-color: #2f303a;
}
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.main-button {
  font-family: 'Roboto', sans-serif;
  background-color: var(--first-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}

.features-box {
}

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-color);
}
.feature-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-color);
}
.occupation-box {
}
.workers-box {
  background-color: #f5f4fa;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.team-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
}
.team-item-role {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-color);
}

/*---------------FOOTER---------------*/

.footer-box {
  background-color: #2f303a;
}

.bottom-webstudio {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.bottom-contacts .link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-style: normal;
}

.bottom-contacts .gray-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer a:hover,
.footer a:focus {
  color: var(--first-color);
}
/*---------------PORTFOLIO-MAIN---------------*/

.portfolio {
}
.portfolio-button button {
  background-color: #f5f4fa;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--second-color);
  cursor: pointer;
}

.portfolio-button button:hover,
button:focus {
  color: #ffffff;
  background-color: var(--first-color);
}

.portfolio-list {
}

.portfolio-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-color);
}

.portfolio-item-description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--third-color);
}
.portfolio-list-item {
}
