p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}
:root {
  --first-color: #2196f3;
  --second-color: #212121;
  --third-color: #757575;
}

.list {
  list-style: none;
}
/*---------------HEADER---------------*/
.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.navigation-box {
  display: flex;
  flex-direction: row;
}

.navigation {
  display: flex;
}

.web-title {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.web-half {
  color: var(--first-color);
}

.navigation-list {
  padding-bottom: 32px;
  padding-top: 32px;
  display: flex;
  column-gap: 50px;
}

.navigation-list a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
}

.top-contacts {
  display: flex;
  padding-bottom: 32px;
  padding-top: 32px;
  margin-left: 331px;
  column-gap: 50px;
}

.top-contacts a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.header a:hover,
.header a:focus {
  color: var(--first-color);
}
/*---------------HERO---------------*/

.hero {
  background-color: #2f303a;
}

.hero-content {
  padding-top: 200px;
  padding-bottom: 200px;
}
.main-title {
  margin: 0 auto;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 30px;
  max-width: 700px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.main-button {
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  background-color: var(--first-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}

.features-box {
  display: flex;
  flex-direction: row;
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  display: flex;
}

.feature-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-color);
}
.feature-description {
  max-width: 270px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-color);
}
.occupation-box {
  padding-bottom: 94px;
}
.workers-box {
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.workers-list {
  display: flex;
  column-gap: 30px;
}
.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.occupation-list {
  display: flex;
  column-gap: 30px;
}

.team-item {
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
}
.team-item-role {
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-color);
}

/*---------------FOOTER---------------*/

.footer-box {
  background-color: #2f303a;
}

.footer-content {
  padding-top: 60px;
  padding-bottom: 60px;
}

.bottom-webstudio {

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.bottom-contacts .link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-style: normal;
}

.bottom-contacts-box {
  margin-top: 20px;
}

.bottom-contacts-list {
display: flex;
flex-direction: column;
row-gap: 9px;
}

.bottom-contacts .gray-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer a:hover,
.footer a:focus {
  color: var(--first-color);
}
/*---------------PORTFOLIO-MAIN---------------*/

.portfolio-content {
  padding-bottom: 94px;
}

.portfolio-buttons {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  padding-top: 94px;
  padding-bottom: 50px;
}

.portfolio-button button {
  padding: 6px 24px;
  border-radius: 4px;
  background-color: #f5f4fa;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--second-color);
  cursor: pointer;
}

.portfolio-button button:hover,
button:focus {
  color: #ffffff;
  background-color: var(--first-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
}

.portfolio-item-title {
  display: flex;
  justify-content: flex-start;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-color);
}

.portfolio-item-description {
  display: flex;
  justify-content: flex-start;
  padding-left: 24px;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--third-color);
}
.portfolio-list-item {
}
